@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme {
  --color-neutralSilver: #F5F7FA;
  --color-neutralDGrey: #4D4D4D;
  --color-brandPrimary: #4CAF4F;
  --color-neutralGrey: #717171;
  --font-now: "Inter", "sans-serif";
}
