@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "daisyui";



@theme {
  --color-neutralSilver: #F5F7FA;
  --color-neutralDGrey: #4D4D4D;
  --color-brandPrimary: #4CAF4F;
  --color-neutralGrey: #717171;
  --font-now: "Inter", "sans-serif";
}

header{
  z-index: 10001 !important;
}

.btn-sexo{
  @apply px-7 py-2 bg-brandPrimary text-white rounded-lg hover:bg-neutralDGrey transition-all duration-300 hover:-translate-y-4;
}
